* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    /* border: 1px solid red; */
}

body {
    background-color: #f2ebdc;
}

/* Código Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1f8c8c;
}

.header img {
    width: 100px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
    padding: 10px;
}

.navbar ul li a {
    color: #f2ebdc;
    text-decoration: none;
    padding: 10px;
}

/* Fim código header */

/* Código class text */
.text {
    font-size: 1.4rem;
}

.text h2 {
    color: #1f8c8c;
    font-size: 2rem;
    margin: 20px 40px;
    text-transform: uppercase;
}

.text p {
    font-family: "Noto Sans", serif;
    margin: 20px 40px;
}
/* Fim do código class text */

/* Código class content */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

.content p, .content h2 {
    margin: 10px;
    padding: 5px;
}
/* Fim do código class content */

/* Código img */
.content img {
    max-width: 600px;
    height: auto;
    margin: 10px;
    padding: 5px;
}
/* Fim do código img */

/* Código class values */
.values {
    flex-direction: row-reverse;
}
/* Fim do código values */

/* Código class footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1f8c8c;
    color: #f2ebdc;
}

.logo-footer img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}   

.global-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}   

.content-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.content-footer ul {
    justify-content: space-between;
    list-style: none;
    text-align: left;
}   

.content-footer ul li {
    padding: 5px;
}

.content-footer ul li a {
    color: #f2ebdc;
    text-decoration: none;
    padding: 10px;
}